{% extends 'mainapp/base_tmp.html' %}
{% block carousel %}
{% endblock %}
{% block left %}
{% endblock %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Контакты</li>
    </ol>
</nav>
{% endblock %}
{% block content %}
<h1 class="my-4">Контакты</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <h2>Обратная связь</h2>
            <form data-toggle="validator" role="form" method="POST" class="post-form">{% csrf_token %}
                <div class="controls">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.name.label_tag }}
                                {{ form.name.as_widget }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.surname.label_tag }}
                                {{ form.surname }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.subject.label_tag }}
                                {{ form.subject }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.message.label_tag }}
                                {{ form.message }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success btn-send" value="Послать">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-muted">
                                <strong>*</strong> Обязательные поля.
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-12">
            <h2>Наши контакты</h2>
            <p><strong>Телефон</strong>: +7 921 1234567</p>
            <p><strong>Адрес</strong>: Санкт-Петербург, Невский пр., 1</p>
            <p><strong>email</strong>: <a href="mailto:shop@someshop.ru" target="_blank"
                                          rel="noopener">shop@someshop.ru</a>
            </p>
            <p>Время работы: 08:00 - 20:00</p>
            <p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.7156752448736!2d30.31002931609681!3d59.93685998187556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696311af3115d53%3A0x95467c366bfc8035!2z0J3QtdCy0YHQutC40Lkg0L_RgC4sIDEsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1533279758584"
                        allowfullscreen="allowfullscreen"></iframe>
            </p>
        </div>
    </div>
</div>
{% endblock %}