{% include "head.html" %}
<body>
<div class="outer">
    <header id="menu">
        {% include "menu.html" %}
    </header>
    <section id="main">
        <div class="mainWrap">
            <div class="contentLeft">
                <div class="mainMenu">
                    <a href="/">Главная</a>
                    <a href="/catalog">Каталог</a>
                    <a href="/contact">Контакты</a>
                </div>
            </div>
            <div class="contentRight">
                <div class="contentHeader">
                    <h1>Каталог</h1>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Каталог</li>
                    </ol>
                </nav>
                <div class="catalog_goods">
                    {% for good in goods %}
                    <div class="catalog_good">
                        <a href="{% url 'products:detail' good_id=good.pk %}">
                            <img src="/{{good.photos.all.0.src}}" width="100" alt="{{good.name}}">
                        </a>
                        <br>Краткое описание товара {{good.id}}
                        <a href="{% url 'products:detail' good_id=good.pk %}">Подробнее...</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        {% include "footer.html" %}
    </footer>
</div>
</body>
</html>