{% include "head.html" %}
<body>
<div class="outer">
    <header id="menu">
        {% include "menu.html" %}
    </header>
    <section id="main">
        <div class="mainWrap">
            <div class="contentLeft">
                <div class="mainMenu">
                    <a href="/">Главная</a>
                    <a href="/catalog">Каталог</a>
                    {% for cat in cats %}
                    <a class="categoryMenu" href="javascript:" onclick="get_ajax({{cat.pk}})">{{ cat.name }}</a>
                    {% endfor %}
                    <a href="/contact">Контакты</a>
                </div>
            </div>
            <div class="contentRight">
                <div class="contentHeader">
                    <h1>Каталог</h1>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Каталог</li>
                    </ol>
                </nav>
                <div class="catalog_goods">
                    {% include 'productsapp/goods.html' %}
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        {% include "footer.html" %}
    </footer>
</div>
<script>
function get_ajax(id)
{
$.ajax({
    url: '/catalog/',
    headers: {'X-CSRFToken': '{{ csrf_token }}'},
    type: "POST",
    data: {'id':id},
    cache:false,
    dataType: "json",
    success: function(resp){
        $('.catalog_goods').html(resp.goods_html);
    }
});
}
</script>
</body>
</html>