{% extends 'mainapp/base_tmp.html' %}
{% block carousel %}
{% endblock %}
{% block categorys %}
<div class='list-group'>
    {% for cat in categorys %}
    <!--<a class='list-group-item' href='javascript:' onclick='get_ajax({{cat.pk}})'>{{ cat.name }}</a>-->
    <a class="list-group-item" href="{% url 'products:catalog' %}?cat={{cat.pk}}">{{ cat.name }}</a>
    {% endfor %}
</div>
{% endblock %}
{% block content %}
<h1 class='my-4'>Каталог товаров</h1>
<div id='loader' class='nodisp'></div>
<div id='catalog_goods' class='row'>
    {% include 'productsapp/inc_goods.html' %}
</div>
{% endblock %}
{% block pagination%}
<div class="row justify-content-center">
    <nav aria-label="Страницы:">
        <ul class="pagination">
            {% if goods.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ goods.previous_page_number }}&cat={{ cat_id }}">Назад</a></li>
            {% endif %}
            <li class="page-item">
                <span class="page-link">Страница {{ goods.number }} из {{ goods.paginator.num_pages }}</span>
            </li>
            {% if goods.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ goods.next_page_number }}&cat={{ cat_id }}">Вперед</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
{% block script %}
{{ block.super }}
<script>
function get_ajax(id)
{

$('#loader').removeClass('nodisp');
$('#catalog_goods').addClass('nodisp');

$.ajax({
    url: '/catalog/?cat='+id,
    headers: {'X-CSRFToken': '{{ csrf_token }}'},
    type: 'POST',
    data: {'id':id},
    cache:false,
    dataType: 'json',
    success: function(resp){
        $('#catalog_goods').html(resp.goods_html);
        console.log(resp.cat_id);

        $('#loader').addClass('nodisp');
        $('#catalog_goods').removeClass('nodisp');

        window.history.pushState({"html":resp.goods_html},"", "{% url 'products:catalog' %}?cat="+id);
    }
});
}

$(window).on('load', function(){
    window.history.replaceState({"html":$('#catalog_goods').html()},"", "");
});

window.onpopstate = function(e){
    if(e.state){
        $('#catalog_goods').html(e.state.html);
    }
};



</script>
{% endblock %}