{% load util %}
{% include "head.html" %}
<body>
<header id="menu">
    {% include "menu.html" %}
</header>
<section id="good">
    <div class="goodInside">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/catalog">Каталог</a></li>
                <li class="breadcrumb-item active" aria-current="page">Товар {{ good.pk }}</li>
            </ol>
        </nav>
        <h1>{{ good.name }}</h1>
        {% for photo in good.photos.all %}
        <a href="/{{photo.src}}" target="_blank" class="good_img">
            <img src="/{{photo.src}}" width="200" alt="photo.alt">
        </a>
        {% endfor %}
        <h2>Описание:</h2>
        <div id="brief">
            <p>Описание товара {{good.name}}</p>
            <p>
                {{ good.short_desc}}
            </p>
        </div>
        <div id="cart">
            <button id="AddToCart" onclick="alert('Почти купили {{ good.name }}');">Купить</button>
        </div>
        <h2 class="clear">Характеристики товара:</h2>
        <ol class="good_descr">
            {% for mykey,myvalue in characteristics.items %}
            <li>{{ mykey }}
                <ul>
                    {% if myvalue|character_list %}
                    {% for value in myvalue %}
                    <li>{{ value }}</li>
                    {% endfor %}
                    {% else %}
                    <li>{{ myvalue }}</li>
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
        </ol>
        <table>
            <tbody>
            <tr class="header_tr">
                <td class="header_td" colspan="2">Заголовок 1</td>
                <td class="header_td" colspan="2">Заголовок 2</td>
                <td class="header_td" colspan="2">Заголовок 3</td>
            </tr>
            <tr>
                <td rowspan="3">Характеристика 1</td>
                <td>Свойство 1</td>
                <td>Значение 1</td>
                <td>77</td>
                <td>Значение 1</td>
                <td></td>
            </tr>
            <tr>
                <td>Свойство 2</td>
                <td>Значение 2</td>
                <td>88</td>
                <td>Значение 2</td>
                <td></td>
            </tr>
            <tr>
                <td>Свойство 3</td>
                <td>Значение 3</td>
                <td>99</td>
                <td>Значение 3</td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="3">Характеристика 2</td>
                <td>Свойство 1</td>
                <td>Значение 1</td>
                <td></td>
                <td>Значение 1</td>
                <td>77</td>
            </tr>
            <tr>
                <td>Свойство 2</td>
                <td>Значение 2</td>
                <td></td>
                <td>Значение 2</td>
                <td>88</td>
            </tr>
            <tr>
                <td>Свойство 3</td>
                <td>Значение 3</td>
                <td></td>
                <td>Значение 3</td>
                <td>99</td>
            </tr>
            </tbody>
        </table>

        <h2>Подробное описание товара:</h2>
        <div id="full">
            <p>
                {{ good.description|linebreaksbr }}
            </p>
        </div>
    </div>
</section>
<footer id="footer">
    {% include "footer.html" %}
</footer>
</body>
</html>