<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Django Framework. Часть 1. Сандал А. Я.</title>
    {% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%  static '/css/shop-homepage.css' %}">
    {% endblock %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>

</head>

<body>
{% include 'mainapp/inc_nav.html' %}
<div class="container">
    {% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'products:catalog' %}">Каталог</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{good.name}}</li>
        </ol>
    </nav>
    {% endblock %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
    <div class="row">
        {% block left %}
        <div class="col-lg-3">
            <h2 class="my-4">Название магазина</h2>
            {% block categorys %}
            <div class="list-group">
                {% for cat in categorys %}
                <!--<a class="list-group-item" href="{% url 'products:category' cat_id=cat.pk %}">{{ cat.name }}</a>-->
                <a class="list-group-item" href="{% url 'products:catalog' %}?cat={{cat.pk}}">{{ cat.name }}</a>
                {% endfor %}
            </div>
            {% endblock %}
        </div>
        {% endblock %}
        <div class="col-lg-9">
            {% block carousel %}
            {% include 'mainapp/inc_carousel.html' %}
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block login %}
    {% include 'mainapp/inc_login.html' %}
    {% endblock %}
</div>
<footer class="footer fixed-bottom bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Сандал А. Я. 2018</p>
    </div>
</footer>
{% block script %}
<script src="https://yastatic.net/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
