{% extends 'mainapp/base_tmp.html' %}
{% block content %}
<div class="row">
{% for good in goods %}
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="{% url 'products:detail' good_id=good.pk %}">
            <img class="card-img-top" src="/{{good.photos.all.0.src}}" alt="{{good.name}}"
                 width="300">
        </a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="{% url 'products:detail' good_id=good.pk %}">{{good.name}}</a>
            </h4>
            <h5>${{good.price}}</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                numquam
                aspernatur!</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
    </div>
</div>
<!-- /.row -->
{% endfor %}
</div>
{% endblock %}