{% include "head.html" %}
<body>
<div class="outer">
    <header id="menu">
        {% include "menu.html" %}
    </header>
    <section id="main">
        <div class="mainWrap">
            <div class="contentLeft">
                <div class="mainMenu">
                    <a href="/">Главная</a>
                    <a href="/catalog">Каталог</a>
                    <a href="/contact">Контакты</a>
                </div>
            </div>
            <div class="contentRight">
                <div class="contentHeader">
                    <h1>Главная</h1>
                </div>
                <div class="catalog_goods">
                    <div class="catalog_good">
                        <a href="/catalog/1">
                            <img src="/static/images/good1.jpg" width="200" alt="Товар 1">
                        </a>
                        <div class="productName">
                            Товар 1
                        </div>
                        <div class="productPriceWrap">
                            <div class="actualPrice">
                                &euro; 865.00
                            </div>
                        </div>
                        <a href="/catalog/1">Подробнее...</a>
                    </div>
                    <div class="catalog_good">
                        <a href="/catalog/2">
                            <img src="/static/images/good2.jpg" width="200" alt="Товар 2">
                        </a>
                        <div class="productName">
                            Товар 2
                        </div>
                        <div class="productPriceWrap">
                            <div class="actualPrice">
                                &euro; 465.00
                            </div>
                        </div>
                        <a href="/catalog/2">Подробнее...</a>
                    </div>
                    <div class="shopDescr">
                        Описание магазина: Наш магазин самый лучший...
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        {% include "footer.html" %}
    </footer>
</div>
</body>
</html>