{% include "head.html" %}
<body>
<div class="outer">
    <header id="menu">
        {% include "menu.html" %}
    </header>
    <section id="main">
        <div class="mainWrap">
            <div class="contentLeft">
                <div class="mainMenu">
                    <a href="/">Главная</a>
                    <a href="/catalog">Каталог</a>
                    <a href="/contact">Контакты</a>
                </div>
            </div>
            <div class="contentRight">
                <div class="contentHeader">
                    <h1>Главная</h1>
                </div>
                <div class="catalog_goods">
                    {% for good in goods %}
                    <div class="catalog_good">
                        <a href="{% url 'products:detail' good_id=good.pk %}">
                            <img src="/{{good.photos.all.0.src}}" width="200" alt="{{good.name}}">
                        </a>
                        <div class="productName">
                            {{good.name}}
                        </div>
                        <div class="productPriceWrap">
                            <div class="actualPrice">
                                &euro; {{good.price}}
                            </div>
                        </div>
                        <a href="{% url 'products:detail' good_id=good.pk %}">Подробнее...</a>
                    </div>
                    {% endfor %}
                    <div class="shopDescr">
                        Описание магазина: Наш магазин самый лучший...
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        {% include "footer.html" %}
    </footer>
</div>
</body>
</html>